<%= render 'messages' %>
<h1>Showing articles details</h1>

<p>
  <b>Title: </b>
  <%= @article.title %>
</p>
<p>
  <b>Description: </b>
  <%= @article.description %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %> |
<%= link_to 'Return to articles listing', articles_path %>

