<%= render 'shared/errors', data: @category %>
<%= form_with(model: @category, class: "shadow p-3 mb-3 bg-dark rounded", local: true) do |f| %>
  <div class="form-group row mt-1">
    <%= f.label :name, "Category name", class: "col-2 col-form-label text-light" %>
    <div class="col-10">
      <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a name", required: true %>
    </div>
  </div>
  <div class="form-group mt-3 text-center">
    <%= f.submit class: "btn btn-outline-light btn-lg" %>
  </div>
<% end %>

